@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container {
  background-color: #ffffda;
  position: fixed;
  top: 85px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.calculator {
  font-family: "Poppins", "sans serif";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border: 1px black solid;
  padding: 10px;
  background-color: #444444;
}

.display {
  height: 80px;
  padding: 10px;
  text-align: right;
  font-size: 1.6em;
  margin-bottom: -30px;
  color: white;
}

.calculation {
  height: 30px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.2em;
  text-align: right;
  color: #ffff66;
}


.press {
  margin: 10px;
}
.square {
  width: 25%;
  height: 50px;
  font-size: 1.3em;
  padding: 3px;
}

.clear, .zero {
  width: 50%;
}
.clear {
  background-color: #ff7f7f;
}

.equals {
  height: 100px;
  float: right; 
  background-color: #e0ffff;
}
