@import url(https://fonts.googleapis.com/css?family=Raleway);

.page {
  position: fixed;
  top: 85px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;  transition: background-color 800ms linear;
}

.quoteBox {
  background-color: white;
  padding: 30px;
  width: 35%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-family: "Raleway", "Proxima Nova", "Oxygen", "sans serif";
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.text{
  font-size: 1.75em;
  text-align: center;
  font-weight: bold;
  animation: fadein 2s;
}

.text:before{
  position: absolute;
  content: open-quote;
  font-size: 2em;
  margin-left: -0.4em;
  margin-top: -0.4em;
}

.author {
  text-align: right;
  margin: 20px;
  display: block;
  margin-top: 5px;
}

.newQuote {
  float: right;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  font-size: 1em;
}
.fa {
  padding: 5px;
  font-size: 1em;
  width: 6%;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

/* Twitter */
.fa_twitter {
  background: #55acee;
  color: white;
}
